#bs-example-navbar-collapse-1 {
	background-color: #C14493;
	border-top: 0px;
}

#bs-example-navbar-collapse-1 a:hover {
	background-color: #ADD8E6;
}

#bs-example-navbar-collapse-1 a {
	font-size: 1.4em;
}

.navbar {
	margin-bottom: 0px;
 }

 .navbar-nav {
 	margin-top: 0px;
 	margin-bottom: 0px;
 }

.collapse .navbar-collapse {
	margin-top: 0px;
	margin-bottom: 0px;
}

.col-xs-12 {
	height: 1000px;	
	background-color: #CA9FDF;
}

.menu-items {
	color: #000000;
	border: 1px solid;
}

h2 {
	text-align: center;
}